<h1>Edit a Landmark!</h1>
<form action="/landmarks/<%=@landmark.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <p>Name: <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>"></p>
  <p>Year Completed: <input type="text" id="year_completed" name="landmark[year_completed]" value="<%=@landmark.year_completed%>"></p>
  <input type="submit" value="Edit Landmark">
</form>
